<% site.travels.forEach((travel) => { %>
	<a href="/travels/<%= travel.slug %>" class="article-list-anchor-block">
		<div class="article-list-container-block">
			<div class="article-list-img-container">
				<img src="<%= travel.thumbnail_photo %>"> </img>
			</div>
			<p class="article-list-item-title"> <%= travel.title %> </p>

			<%  
    		const createdTimestamp = travel.created_timestamp;
    		const date = new Date(createdTimestamp * 1000);
    		const dateString = date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();
    		%>

    		<div class="article-list-item-separator"> </div>
    		<p class="article-list-item-meta-info"> <%= dateString %> </p>
    		<p class="article-list-item-summary"> <%= travel.summary %> </p>
		</div>
    </a>
<% }) %>