<% site.blogs.forEach((blog) => { %>
	<a href="/blogs/<%= blog.slug %>" class="article-list-anchor-block">
		<div class="article-list-container-block">
			<div class="article-list-img-container">
				<img src="<%= blog.thumbnail_photo %>"> </img>
			</div>
			<p class="article-list-item-title"> <%= blog.title %> </p>

			<%  
    		const createdTimestamp = blog.created_timestamp;
    		const date = new Date(createdTimestamp * 1000);
    		const dateString = date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();
    		%>

    		<div class="article-list-item-separator"> </div>
    		<p class="article-list-item-meta-info"> <%= dateString %> </p>
    		<p class="article-list-item-summary"> <%= blog.summary %> </p>
		</div>
    </a>
<% }) %>